.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.imageContainer {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 992px) {
  .imageContainer {
    border: 5px solid white;
  }
}
