#statistiquesPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.statistiquesContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgrey;
  padding: 25px 50px;
  gap: 20px;
}
.statistiquesContent h2 {
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistiquesCharts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.statistiquesChart {
  width: 100%;
  min-height: 300px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}
.chartHeader {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chartSelectionButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.chartSelectionButton button {
  width: 100px;
  height: 100%;
  border: none;
  border-radius: 3px;
  background-color: grey;
  color: white;
}
.chartSelectionButton button:hover {
  background-color: darkgrey;
  cursor: pointer;
}
.chartSelectionButton .active {
  background-color: blue;
}
.chartSelectionButton .active:hover {
  background-color: blue;
  cursor: auto;
}
