#fichesPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.bodyFichesAnalysePage {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 5px;
    border: 5px solid black;
    background-color: black;
}
.arborescence {
    width: 30%;
    background-color: black;
}
.filesPdfViewerSection {
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.filesPdfViewerSection p {
    color: white;
}