.pdfViewerSection {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 20px 20px 20px 0;
}
.pdfViewerFrame {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
}

@media (max-width: 992px) {
  .pdfViewerSection {
    padding: 0;
  }
}
